@CHARSET "UTF-8";

.omeka-addons-messages {
	border: 1px solid black;
}

#omeka-addons-messages > p {
	background-color: white;	
}
	

div#omeka-addons-messages p.omeka-addons-upload-ok {
	border: 2px solid green;
	padding: 2px;
}

div#omeka-addons-messages p.omeka-addons-upload-warning {
	border: 2px solid yellow;
	padding: 2px;	
}

div#omeka-addons-messages p.omeka-addons-upload-error {
	border: 2px solid #E80C00;
	padding: 2px;
}

.omeka-addons-release dd , .omeka-addons-release dt {
	display: inline;	
}

.omeka-addons-release dt {
	font-weight: bold;
	margin-right: .5em;
}

.omeka-addons-content {
    float: left;
    width: 48%;	
}

.omeka-addons-addon-info {
    float: right;
    width: 46%;
	background-color: #7E7566;    
	padding: 2em;
	margin: -18px -18px 2em 0;
	padding-bottom: 20010px;
	margin-bottom: -20000px;
}

.padding {
	overflow: hidden;	
}

div.omeka-addons-addon-info h3 {
	color: white;	
	clear: both;
}

.omeka-addons-versions-list {
    float: right;
    width: 48%;
}
.omeka-addons-addon {
    border-bottom: 1px dotted #AFAE99;
    margin-bottom: 18px;
    overflow: hidden;
    padding-bottom: 18px;
}
.omeka-addons-button {
    background: url("/ui/i/glass-btn.png") repeat-x scroll 0 50% #990000;
    border: 1px solid #990000;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF !important;
    font-size: 1.2em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
}
.omeka-addons-button:hover {
    background-color: #BB0000;
    border-color: #BB0000;
}
.omeka-addons-theme-thumbnail {
    margin-bottom: 18px;
    width: 300px;
}
.omeka-addons-theme-thumbnail img {
    display: block;
    max-width: 100%;
}



div.omeka-addons-links {
	float: right;
	border-top: 1px dotted white;
	width: 100px;
}

div.omeka-addons-links > p {
	background-color: #4F473C;
	padding: .5em;
	margin-bottom: 0;
	border-bottom: 1px dotted white;
	font-weight: bold;
}

div.omeka-addons-links a {
	color: white;	
	text-decoration: none;
}

div.omeka-addons-license {
	float: right;
	clear: right;
}

div.omeka-addons-license > p {
	color: white;
	padding: 1em;
}	

.omeka-addons-delete {
	float: right;	
}

ul.omeka-addons-term-list {
	display: inline;
	list-style: none;
	margin-left: 0;		
}

ul.omeka-addons-term-list li {
	display: inline;
	list-style: none;		
	margin-right: .5em;
}

.omeka-addons-author {
	font-weight: bold;	
}
	
	
#omeka-addons-theme-featured {
	clear: none;	
}

img.omeka-addons-screenshot {
	width: 250px;
    border: 5px solid #EFEDD1;
}

.omeka-addon {
	clear: both;	
	
}

p.omeka-addons-latest-release {
	margin-top: 15px;	

}

.omeka-addons-h {
	font-size: 12pt;	
}

.featured-addons .omeka-addon {
	clear: none;	
}

div#featured-plugins {
	float: right
}

img.omeka-addons-archive {
	float: right;	
	
}

table.omeka-addons-versions th {
	background-color: #4F473C;
	color: #A8A39A;	
	text-align: left;
	padding-left: 1em;
	padding-top: .5em;
}

table.omeka-addons-versions td {
	padding-left: 1em;	
}
table.omeka-addons-versions tr.odd {
	background-color: #EBE8DF;
	border: none;
}

table.omeka-addons-versions tr.even {
	background-color: #FBFBF3;
}

div.omeka-addons-theme-archive div.omeka-addon {
	height: 250px;	
}

div.omeka-addons-plugin-archive div.omeka-addon {

}	

span.omeka-addons-by {
	font-size: 14pt;	
}

